.button {
    font: inherit;
    border: 1px solid black;
    background: gray;
    color: white;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 24px;
  }
  
  .button:hover,
  .button:active {
    background: #b3afb4;
    border-color: #827e83;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }
  